* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

body {
  background-color: #18202D;
  /* overflow: hidden; */
  /* scrollbar-width: auto;
  scrollbar-color: #afb2bf; */
}

/* ********************************** Navigation Bar CSS ************************************************* */

header {
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  backdrop-filter: blur(12px);
  padding: 10px 5%;
  transition: .3s;
  border-bottom: 1px solid #fff;
  position: sticky;
}

.logo img {
  width: 180px;
  height: 80px;
  margin-left: -20px;
}

.nav {
  display: flex;
  gap: 50px;
  overflow: hidden;
}

/* .nav li {
  position: relative;
} */

.nav a {
  font-family: JejuGothic;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  transition: ease .4s;
  float: right;
  text-wrap: nowrap;
}

.nav a:hover {
  color: #0097d7;
  transition: ease .4s;
}

/* .top-button img {
  top: 55px;
  left: 1250px;
} */

.top-button {
  display: flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  letter-spacing: 1px;
  transition: ease .5s;
  width: 200px;
  height: 45px;
  gap: 15px;
  border-radius: 159px;
  background: #000;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  text-wrap: nowrap;
}

.top-button:hover {
  transform: scale(1.1);
  background-color: #0097d7;
  transition: ease .5s;
}

.icon {
  display: none;
  color: white;
  font-size: 40px;
}

@media screen and (max-width:1400px) {
  .icon {
    display: block;
  }

  .nav {
    display: none;
  }

  .responsive {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 70px;
    top: 130px;
    padding: 20px;
    background: #000000;
  }

  .nav a {
    font-size: 30px;
  }

  .top-button {
    margin-left: 55%;
  }
}

.CV-menu {
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
}


/* *************************************** Home CSS ********************************************** */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 0px 0px 0px;
  margin-top: 0;
}

.home-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  position: relative;
  height: 400px;
}

.pic {
  width: 300px;
  aspect-ratio: 3/4;
  border-radius: 300px 300px 21px 21px;
  border: 5px solid #0097d7;
  margin-top: -30px;
  position: absolute;
  top: 30px;
  left: -1150px;
  transition: all .4s;
  animation: picToLeft 1.5s cubic-bezier(0, 1.66, 0.65, 0.09) 0.5s 1 forwards;
}

@keyframes picToLeft {
  from {
    top: 30px;
    left: -850px;
  }

  to {
    top: 30px;
    left: -400px;
  }
}

.pic:hover {
  transition: all .4s;
  box-shadow: 0px 0px 22px 2px #0097d7;
}

.pic img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* padding-top: 30px; */
}

.text {
  max-width: 500px;
  position: absolute;
  top: 0px;
  right: -500px;
}

.hello {
  color: #0097d7;
  font-family: Josefin Sans;
  font-size: 1.2em;
  font-style: italic;
  font-weight: 500;
  line-height: 1.2em;
  text-align: left;
  margin-top: 0.6em;
}

.text2 {
  color: #fff;
}

h1 {
  width: 480px !important;
  font-family: DM Sans !important;
  font-size: 90px !important;
  font-weight: 600 !important;
  line-height: 35px !important;
  text-align: left !important;
  color: #00b3ff !important;
  margin: 45px 0px 10px 0px;
  transition: all 0.5s;
}

h1:hover {
  text-shadow: 2px 2px 5px white;
}

span {
  font-family: DM Sans;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
  height: 30px;
  display: inline-flex;
  overflow: hidden;
  white-space: nowrap;
}

.title span {
  animation: role 2s steps(30, jump-none) 0.5s infinite alternate;
}

@keyframes role {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.title {
  font-family: DM Sans;
  font-size: 68px;
  font-weight: 700;
  line-height: 70px;
  text-align: left;
}

.description {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
  /* font-weight: 700; */
  line-height: 30px;
  text-align: left;
  color: #c5c4c4;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 55px;
  margin-top: 10px;
  border-radius: 84px;
  border: 3px solid #0097d7;
  background-color: transparent;
  font-size: 25px;
  font-weight: 550;
  color: #0097d7;
  text-decoration: none;
}

.about:hover {
  color: #fff;
}

.socials {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  align-items: center;
}

.socials h3 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  color: #fff;
}

.socials img {
  width: 45px;
  height: 45px;
}

@keyframes scrollAnimate {
  from {
    opacity: 0;
    scale: 0.5;
    /* transform: translate(80px); */
  }

  to {
    opacity: 1;
    scale: 1;
    /* transform: translate(0px); */
  }
}

.scrollAnimate {
  animation: scrollAnimate linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

/*************************************** Experience and Education CSS ************************************** */

#experience_div {
  width: 70vw;
  margin: auto;
  padding: 120px 0px 0px 0px;
}

.experience_div_heading {
  color: #0097d7;
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  /* font-family: "Jost", sans-serif;
  list-style: none;
  text-decoration: none; */
}

.resume_and_experience_heading {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 58.09px;
  text-align: left;
  height: 160px;
  border-bottom: 3px solid #0097d7;
}

.upper_div_text {
  color: #FFFFFF;
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.015em;
}

.para_div {
  width: 430px;
  border-bottom: 3px solid #0097d7;
  height: 160px;
}

.experience_div_main_content {
  display: flex;
  margin-top: 35px;
  justify-content: space-between;
  column-gap: 75px;
}

.inner_content_main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.inner_content {
  display: flex;
  gap: 50px;
  width: 450px;
}

.inner-content_div {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 15px;
}

.inner_content_heading {
  color: white;
  font-size: 1.5rem;
}

.main_of_inner_content {
  display: flex;
  justify-content: space-between;
}

.button_div {
  background-color: #0097d7;
  padding: 5px 1px;
  border-radius: 6px;
  width: 110px;
  color: white;
  text-align: center;
}

.inner_content_text {
  color: #FFFFFF;
}

.dates_inner_content {
  color: #98A2B3;
}

/* **************************************Projects CSS ****************************************** */

.project-no {
  color: white;
  font-size: 22px;
  margin: 0px 0px 10px 50px;
  font-family: 'Times New Roman', Times, serif;
}

.project-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* border: 1px solid red; */
}

.project-image {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 300px;
  background-color: #5E6771;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.project-image img {
  height: 93%;
  width: 94%;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
  /* align-items: center; */
  color: white;
  padding: 20px;
  height: 200px;
  width: 600px;
  background-color: #313A44;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.project-info h2 {
  font-size: 30px;
  font-family: DM Sans;
  margin: 0px 0px 5px 0px;
}

.project-info p {
  font-size: 14px;
  /* font-family: DM Sans; */
}

.tech-used {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 30px;
}

.tech-used img {
  height: 35px;
  width: 35px;
  transition: all 0.5s;
  /* transform: rotateX(-15deg) rotateY(30deg); */
}

.tech-used img:hover {
  transform: rotateX(-15deg) rotateY(30deg);
  transition: all 0.2s;
}

.border-rad-info {
  border-top-left-radius: 30px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 30px;
}

.border-rad-img {
  border-top-left-radius: 0px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 0px;
}

.all-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 35px;
}

#projects {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  padding: 120px 0px 0px 0px;
}

/* ****************************************** Skills CSS ********************************************* */

#skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 120px 0px 0px 0px;
  text-align: center;
  width: 70vw;
  margin-inline: auto;
}

/* #skills .contact-heading,
.get-work {
  text-align: center;
} */

#skills .get-work {
  width: 100%;
}

.skill-img {
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  column-gap: 80px;
  justify-content: center;
  align-items: center;
  margin: 50px 0px 0px 0px;
}

.skill-img img {
  height: 110px;
  width: 110px;
  transform-style: preserve-3d;
  transform: rotate3d(1, 1, 1, 30deg);
  filter: drop-shadow(0px 0px 0px #0097d7);
  transition: all 0.8s;
}

.skill-img img:hover {
  transition: all 0.2s;
  filter: drop-shadow(0px 0px 40px #0097d7);
}

/* .contact-info,
.input {
  border: 2px solid red;
} */

/* ****************************** Creative Services ****************************************** */

#creative_service {
  width: 70vw;
  margin-inline: auto;
  padding: 120px 0px 0px 0px;
}

.what_i_can_do {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 33px;
  width: 100%;
  margin: 20px 0px 20px 0px;
  height: 55px;
  border-bottom: 3px solid #0097d7;
  text-align: center;
}

.service_grid_div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  column-gap: 20px;
  margin-block: 2rem;
}

.particular_service_div {
  height: 270px;
  display: flex;
  width: 330px;
  flex-direction: column;
  gap: 20px;
  padding: 2rem;
  border-radius: 20px;
  border: 4px solid black;
}

.particular_service_grid_heading {
  font-size: 1.5rem;
  color: white;
  font-weight: bold;
  text-wrap: nowrap;
}

.particular_service_grid_para {
  color: white;
}

.service_end_div {
  display: flex;
  gap: 10px;
}

.read_more_arrows {
  color: rgb(171, 157, 157)
}

.read_more_1 {
  color: red
}

.read_more_2 {
  color: orange;
}

.read_more_3 {
  color: rgb(47, 47, 255);
}

.read_more_4 {
  color: yellow;
}

.read_more_5 {
  color: rgb(251, 167, 181);
}

.read_more_6 {
  color: rgb(197, 3, 197);
}

/* ***************************************** Clients ************************************ */

section {
  width: 100%;
  margin: 20px 0;
  font-family: Arial, sans-serif;
  background-color: #18202D;
  color: #fff;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Clients {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 110px; */
  padding: 120px 0px 0px 0px;
  /* gap: 80px; */
}

.Clients h2 {
  text-align: center;
  color: #fff;
  font-size: 35px;
  margin-bottom: 20px;
  padding: 0 10px 0 10px;
}

.Clients h2 span {
  color: #ff4d4d;
  font-size: 35px;
}

.slider {
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 80%;

}

.slide {
  padding: 20px;
}

.card {
  background: linear-gradient(rgb(243, 239, 239, 0.3), #18202d6b);
  border-radius: 10px;
  border: 1px solid;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.c-text h3 {
  color: #fffffff6;
  font-weight: 450;
}

.c-text p {
  color: #ccc8c8c9;
  margin-bottom: 20px;
  font-size: 14px;
}

.info {
  display: flex;
  align-items: center;
}

.info img.client {
  border-radius: 80%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}


.info h4 {
  margin: 0;
  color: #ffffffd4;
  font-weight: 700;
}

.info p {
  margin: 0;
  color: #b3b3b3;
}

.rating .one {
  color: gold;
  font-size: 18px;
}

.rating .two {
  color: rgb(164, 164, 163);
  font-size: 18px;
}

/* *************************************** Contact Us CSS ******************************************* */

#contact {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 120px 0px 0px 0px;
  gap: 80px;
}

.contact-heading {
  color: #0097d7;
  font-size: 30px;
  font-weight: 900;
}

.get-work {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 33px;
  margin: 20px 0px 20px 0px;
  height: 55px;
  border-bottom: 3px solid #0097d7;
}

.name-email {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 20px 0px 15px 0px;
}

.name-email input {
  background-color: #3a3a3a;
  height: 45px;
  width: 300px;
  border-radius: 50px;
  border: 2px solid rgb(178, 178, 178);
  padding: 15px;
  color: #fff;
  font-size: 17px;
}

::placeholder {
  font-size: 17px;
  color: rgb(139, 139, 139);
}

.message {
  width: 100%;
  background-color: #3a3a3a;
  border-radius: 30px;
  border: 2px solid rgb(178, 178, 178);
  padding: 15px 15px 5px 15px;
  color: #fff;
  font-size: 17px;
}

.sendMessage {
  width: 150px;
  height: 45px;
  margin-top: 10px;
  border-radius: 84px;
  border: 3px solid #0097d7;
  background-color: transparent;
  font-size: 18px;
  color: #0097d7;
  transition: all .2s;
  text-decoration: none;
}

.sendMessage:hover {
  transition: all .2s;
  color: #fff;
}

.contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.info-type-info-give {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.info-type {
  color: white;
  font-size: 25px;
}

.give-info {
  color: white;
  font-size: 16px;
}

@media screen and (max-width:1400px) {
  #contact {
    flex-direction: column;
  }

  .contact-info {
    flex-direction: row;
  }
}

@media screen and (max-width:1000px) {

  .home,
  #experience_div,
  #projects {
    transform: scale(0.8);
  }

  .particular_service_div {
    width: 300px;
  }

  #contact {
    transform: scale(0.9);
  }
}

@media screen and (max-width:890px) {
  .particular_service_div {
    width: 280px;
    padding: 1rem;
  }
}

@media screen and (max-width:830px) {
  .particular_service_div {
    width: 270px;
    padding: 1rem;
  }

  .nav a {
    font-size: 20px;
  }

  .responsive {
    right: 35px;
    top: 115px;
    gap: 30px;
  }

  .top-button {
    padding: 15px;
    gap: 7px;
  }

  .pic {
    top: 70px;
    left: -820px;
  }

  @keyframes picToLeft {
    from {
      top: 80px;
      left: -820px;
    }

    to {
      top: 80px;
      left: -150px;
    }
  }

  .text {
    top: 500px;
    left: -230px;
  }

  .home-content {
    height: 860px;
  }

  .home {
    transform: scale(1);
    padding: 0;
  }

  .experience_div_main_content {
    flex-direction: column;
    row-gap: 80px;
  }

  #experience_div {
    transform: scale(1);
    margin: 80px auto 60px auto;
  }
}

@media screen and (max-width:810px) {
  .project-container {
    flex-direction: column;
  }

  .project-image {
    border-top-left-radius: 30px;
    height: 360px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
    width: -webkit-fill-available;
  }

  .project-image img {
    width: 97%;
    height: 96%;
  }

  .project-info {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
  }

  .all-projects {
    gap: 70px;
  }

  .border-rad-info {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 0px;
  }

  .border-rad-img {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 30px;
  }

  #projects {
    margin: -150px auto 0px auto;
  }

  #skills {
    margin: -150px auto 0px auto;
  }
}

@media screen and (max-width:720px) {
  .slider {
    flex-direction: column;
  }
}

@media screen and (max-width:660px) {
  .contact-info {
    flex-direction: column;
  }
}

@media screen and (max-width:550px) {
  .what_i_can_do {
    height: 82px;
  }
}

@media screen and (max-width:600px) {
  .name-email {
    flex-direction: column;
    gap: 10px;
  }

  .logo img {
    width: 130px;
    height: 50px;
  }

  .top-button {
    width: 130px;
    height: 35px;
    font-size: 11px;
  }

  .top-button img {
    height: 30px;
  }

  .icon {
    font-size: 30px;
  }

  h1 {
    width: 425px !important;
    font-size: 80px !important;
    line-height: 10px !important;
  }

  .text {
    transform: scale(0.9);
    left: -245px;
  }
}

@media screen and (max-width:500px) {
  #projects {
    transform: scale(0.7);
    margin: -260px auto 0px auto;
  }

  #experience_div {
    transform: scale(0.9);
    margin: -65px auto 0px auto;
  }
}

@media screen and (max-width:460px) {
  .all-projects {
    transform: scale(0.9);
  }

  .logo img {
    width: 100px;
    height: 30px;
  }

  .top-button {
    width: 110px;
    /* height: 0px; */
    font-size: 10px;
    gap: 0px;
  }

  .top-button img {
    height: 25px;
  }

  .icon {
    font-size: 25px;
  }

  .text {
    transform: scale(0.8);
  }
}